.home {
  background-color: var(--base);
  width: 100%;
  min-height: 900px;
  padding: 20px 5%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
}

.home >header .headerInner {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}

.home input {
  height: 50px;
  width: 75%;
  padding: 0 0 0 20px;
  border-radius: 50px;
  background-color: var(--base2);
  border: 0;
  outline: none;
  color: var(--white);
  overflow-x: hidden;
}

.home input::placeholder {
  color: #a0a0a0;
}

.home .homePost {
  background-color: var(--yellow);
  height: 35px;
  border-radius: 50px;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  transition: .4s;
}

.home .homePost:hover {
  box-shadow: 2px 2px 22px #ffff0081;
}

.home .logo {
  width: 40px;
}

.home > .split {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 80px;
}

.home-main {
  width: 100%;
  color: var(--white);
  background-color: var(--base2);
  min-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-other {
  background-color: var(--base2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  max-height: 100vh;
  min-height: 90vh;
  margin: 0 10px;
  padding: 10px;
}

.home > .main {
  background-color: transparent;
  margin: 20px 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

@media (max-width: 900px) {

  .home input {
    width: 65%;
  }

  .home .split {
    display: block;
  }

  .home-main {
    width: 100%;
  }

  .home-other {
    display: none;
  }
}
