.searchPage {
  background-color: var(--base);
  width: 100%;
  min-height: 900px;
  padding: 20px 5%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: overlay;
}
.searchPage > .searchContainer a {
  text-decoration: none;
}
.searchPage .searchContainer {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  background-color: var(--base2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.searchContainer > input {
  height: 50px;
  width: 100%;
  padding: 0 0 0 20px;
  border-radius: 50px;
  background-color: var(--base3);
  border: 0;
  outline: none;
  margin: 10px 0;
  color: white;
}

.searchContainer > h3 {
  font-size: 15px;
  margin: 10px 10px;
  padding: 10px 10px;
  width: 100%;
  text-align: left;
}

.searchContainer .errorImg {
  width: 50%;
  margin: 20px 0;
}

.searchContainer > input::placeholder {
  color: #ffffff;
}

.searchContainer .searchResult {
  width: 100%;
}

@media (min-width: 900px) {
  .searchContainer .searchResult {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
