.start {
  color: white;
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start > h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: cursive;
}

.start .logo {
  width: 100px;
  margin: 0 0 20px 0;
  
  animation: logo 1s infinite alternate;
}

@keyframes logo {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
