.footer {
  /* background-color: #23242a; */
  background-color: var(--base2);
  max-width: 900px;
  height: 60px;
  width: 80%;
  display: flex;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.footer img {
  width: 60px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
}

.footer .home-circle {
  height: 55px;
  width: 55px;
  border: 2px solid var(--pink);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .home-circle img {
  border-radius: 50%;
  width: 150%;
}

@media (min-width: 801px) {
  .footer {
    max-width: 400px;
  }
}
