.footer {
  /* background-color: #23242a; */
  background-color: #0E0E10;
  max-width: 500px;
  height: 70px;
  width: 90%;
  display: flex;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


.footer img {
  width: 60px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
}

.footer .home-circle {
  height: 55px;
  width: 55px;
  border: 2px solid #e3229e;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .home-circle img {
  border-radius: 50%;
  width: 150%;
}
