.friendContainer {
  min-height: 50px;
  background-color: var(--base3);
  width: 90%;
  margin: 0 0 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
}

.friendContainer:hover {
  transform: scale(1.03);
}
 .friendContainer > .profilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.friendContainer > .username {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.friendContainer > .add {
  width: 30px;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 50%;
}

@media (min-width: 901px) {
  .friendContainer {
    min-width: 200px;
    margin: 15px;
  }
}
