.status {
    border: 2px solid #e3229e;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    
}