.status {
  border: 1px solid #e3229e;
  word-break: break-all;
  height: 60px;
  width: 60px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
